table, td, th{
    text-align: center; border: solid black;
}
td{
    background-color: rgb(229, 233, 18); width: 8cm;
}
.foto{
   display: flex;
   justify-content: center;
   align-items: center; 
}